//color here
$background: #ffffff;
$background-dark: #33adb4;

$primary: #8ac545;

$secondary: #fff;

$p: 18px;
$p-sm: 14px;

$h1: 60px;
$h1-sm: 40px;

$h2: 35px;
$h2-sm: 25px;

$h3: 1px;
$h3-sm: 1px;

$h4: 1px;
$h4-sm: 1px;

$h5: 18px;
$h5-sm: 14px;
